.App {
  text-align: center;
  background-color: tomato;
  display: flex;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  /* align-items: center; */
}

.username-label{
  margin-bottom: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  /* background-color: #282c34; */
  min-height: 10vh;
  /* display: flex; */
  flex:1;
  font-size: calc(10px + 2vmin);
  color: white;
}

.online-container{

}

.online-card{
  background-color: blue;
  color: white;
}

.online-list{
  list-style: none;
}

.online-list>li{
  padding: 10px 20px;
}

.chatting-container{
  width: 100%;
}

.chatting-header{
  background-color: blue;
  color: white;
}

.chatting-body{
  height: 500px;
  width: 100%;
}

.chatting-footer{
  background-color:red;
  height: 50px;
  width: 100%;
}
.card{
  background-color: white;
  width: 40%;
  height: 584px;
  margin: auto;
  border-radius: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


li{
  list-style: none;
}

.animationButton:hover{
  background-color:#e76c81!important;
  transition: all 0.4s;
}

.icon:focus-visible{
  /* border:0; */
  outline-width: 0;
}